@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto Mono', cursive;
}
